<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">🎨 Sistema de Administración Taller de Arte</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/">🏠 Inicio</a></li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">👨‍🏫 Instructor</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/agregar_instructor/">Agregar Instructor</a></li>
              <li><a class="dropdown-item" href="/ver_instructor/">Ver Instructor</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">📚 Curso</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/agregar_curso/">Agregar Curso</a></li>
              <li><a class="dropdown-item" href="/ver_curso/">Ver Cursos</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">🧵 Material</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/agregar_material/">Agregar Material</a></li>
              <li><a class="dropdown-item" href="/ver_material/">Ver Material</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
